html    {
        background-color: rgb(255, 252, 209);

                
        }

body    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(255, 250, 244);
        margin: 80px;
        padding: 50px;
        border-left: 10px solid cadetblue;

        }

h1      {
 margin: 0;                   
                                        
} 

.blog-about-contact {

        border: 1px solid rgb(153, 189, 192);          
        text-align: center;
        list-style-type: none; /* This will remove the dotted list*/
        font-family: 'Chelsea Market', cursive;

}

.blog-about-contact li {

        display: inline-block;
        padding: 10px 40px;

}





#blog-traveling-stories {
        border: 3px dotted rgb(153, 189, 192);

        }



.h2-Traveling-Stories {

        border-bottom: 3px dotted rgb(153, 189, 192);
        padding-bottom: 15px;
        margin: 15px;

        }
                

                        
.blog-post      {
        border-bottom: 5px solid rgb(153, 189, 192);
        padding: 25px;
        margin: 15px;


                }
                        
p       {

        line-height: 1.6em;
        padding: 0px;


        }
table   {
        text-align: left;

        
        }
                        
th      {
        background-color: salmon;
        padding: 10px;
        
                        
        }
                        
td      {
        background-color: rgb(221, 221, 221);
        padding: 10px;
                        
        }

     
a[href] { /* This alter links*/
        color: rgb(218, 88, 189);
        
        }

.sign-up {
        padding-top:10px;
        text-align: center;
        background-color: cadetblue;
        padding-bottom: 10px;
        margin-top: 40px;

        position: sticky;
        bottom: 0;
        }  

div {
background: beige;
        display: flex;

}
aside {

        background: #9999994b;
        padding: 5px;
        margin: 5px;

}

aside:nth-of-type(1) { flex: 1;         }
aside:nth-of-type(2) { flex: 2;         }
aside:nth-of-type(3) { flex: 1;         }

.meinwis {

        float: left;
        margin-right: 25px;
        margin-bottom: 15px;
        
        
}

@media (max-width: 900px) {


        body { margin: 5%; padding: 5%;}
        h1 { text-align: center;}


}





